# WordPress
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/languages/
wp-content/plugins/
wp-content/mu-plugins/
wp-content/themes/twentytwentyfour/
wp-content/themes/twentytwentyfive/
wp-content/themes/twentytwentytree/
wp-content/themes/twentytwentytwo/
wp-content/themes/twentytwentyone/
wp-content/themes/twentytwenty/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.code-workspace

# Logs
*.log

# Environment
.env

# Project specific
importwoo.csv
importwoo.txt
