# Ignore everything by default
/*
!/web-hustle/
!/README.md
!/.gitignore

# Standard WordPress theme ignores inside the theme folder
web-hustle/node_modules/
web-hustle/.DS_Store
web-hustle/Thumbs.db
web-hustle/*.log
